.Dialog {
  width: 60%;
  border-radius: 1rem;
  padding: 0;
  background-color: #181a1c;
  overflow-y: scroll;
}
.Dialog::backdrop {
  background-color: #181a1c79;
  backdrop-filter: blur(0.3rem);
}
.Dialog::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}
.Dialog::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.445);
  border-radius: 0.5rem;
}

.CloseDialog {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 3;
}
.CloseDialog > button {
  width: 4rem;
  font-size: 3rem;
  color: white;
  font-weight: 400;
  background-color: #181a1c;
  border: none;
  cursor: pointer;
}

.CloseDialog > button:hover {
  background-color: #181a1c71;
}

.ImageShow {
  position: relative;
}

.ImageShow > img {
  width: 100%;
  mask: linear-gradient(180deg, #181a1c 15%, transparent);
}
.BtnDiv {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  color: white;
}

.BtnDiv > h2 {
  font-size: 3.2rem;
  margin: 0 0 2rem 0;
  text-transform: capitalize;
}
.BtnDiv > div {
  justify-content: center;
  gap: 1rem;
  display: flex;
  align-items: center;
}
.BtnDiv > div > button {
  border: none;
  border-radius: 1rem;
  padding: 1.2rem 2rem;
  color: white;
  font-size: 1.4rem;
  background-color: #0f1e93;
  font-weight: 600;
  cursor: pointer;
}

.BtnDiv > div > button:hover {
  background-color: #2e3dac;
}
.BtnDiv > div > span:nth-of-type(1) {
  margin-right: auto;
  margin-left: 1rem;
  font-size: 3.5rem;
  padding: 1rem;
  cursor: pointer;
}
.BtnDiv > div > span:nth-of-type(2) {
  cursor: pointer;
}

.DescMovie {
  display: flex;
  justify-content: center;
  color: white;
  gap: 2rem;
  font-size: 1.3rem;
  padding: 2rem 0;
}
.DescMovie > div {
  flex-basis: 40%;
}

.DescMovieDiv > div {
  display: flex;
  gap: 1rem;
}

.DescMovieDiv > p {
  font-size: 1.5rem;
  font-weight: 400;
}
.DescGenre {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.DescGenre > div {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}
.DescGenre > div > p {
  margin: 0;
}

.DescGenre > div > h4 {
  margin: 0;
  flex-basis: 5rem;
  flex-shrink: 0;
  font-size: 1.5rem;
}
.Head5 {
  font-size: 3rem;
  padding: 0 3rem;
  font-weight: 700;
  color: white;
  margin: 3rem 0;
}

.Recomend {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem 0;
}

@media screen and (max-width: 1000px) {
  .Dialog {
    width: 80%;
  }
}

@media screen and (max-width: 670px) {
  .DescMovie {
    flex-direction: column;
    padding: 1rem 3rem;
    font-size: 1.3rem;
  }
  .DescGenre > div > h4 {
    font-size: 1.3rem;
  }
  .DescGenre > div > p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 450px) {
  .Dialog {
    width: 100%;
  }
  .BtnDiv > h2 {
    font-size: 2rem;
    margin: 1rem;
  }
  .BtnDiv > div {
    gap: 1rem;
  }
  .BtnDiv > div > button {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
  }
  .BtnDiv > div > span:nth-of-type(1) {
    margin-right: auto;
    margin-left: 0.8rem;
    font-size: 2.5rem;
    padding: 1rem;
    border-radius: 50%;
  }
  .Head5 {
    font-size: 2.5rem;
    padding: 0 3rem;
    font-weight: 700;
    color: white;
    margin: 2rem 0;
  }
}
