.DivH6 {
  padding: 2rem 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
img[alt="hide-footer"] {
  display: none;
  width: 1rem;
}

@media screen and (max-width: 750px) {
  .DivH6 {
    padding: 0 1rem;
  }
  img[alt="hide-footer"] {
    display: block;
  }
}
